# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon?
Icon\r

# Thumbnails
._*

# Files that might be created on a remote FS or external drive
.Spotlight-V100
.Trashes

# Directories potentially created by macOS
__MACOSX/

# Development-specific macOS files
*.swp
*.swo
