* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

form {
    padding: 10px;
}

table input {
    width: 100%;
    border-radius: 2px;
    border: none;
    padding: 3px;
}

select {
    width: 100%;
    border-radius: 2px;
    border: none;
    padding: 3px;
}

table td {
    width: 200px;
}

button {
    border-radius: 2px;
    border: 1pt solid transparent;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .3s ease all;
}

button:hover {
    background-color: lightblue;
    border: 1pt solid black;
    color: black;
}

label::before {
    content: "*";
    color: red;
}
