body {
    background-color:#d4c7b9;
    color:#463615;
}

h1, h2 {
    text-align: center;
}

nav, footer {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:#45525a;
    padding: 10px 0 10px 0;
    border-radius: 8px;
    clear: both;
    text-align: center;
    color: antiquewhite;
}

nav a {
    color: antiquewhite;
}

.srodek > img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: fill;
}

.slajd {
    width: 13%;
    display: inline-flex;
    text-align: center;
    border-radius: 10px;
    background:#ffe9ba;
    padding: 1% 1%;
    margin: 1%;
}

.slajd > img {
    max-width: 100%;
    height: auto;
    border-radius:10px;
}

.slajd:hover {
    background:#45525a;
}

.galeria {
    margin: auto;
    width: 90%;
}
