body {
  background: white;
  color: #000040;
  box-sizing: border-box;
}

h1,
h2,
footer {
  background: navy;
  color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: #97979769 4px 4px;
}

footer {
  width: 100%;
  padding: 5px 0 5px 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: #97979769 4px 4px;
}

section {
  display: inline-flex;
  width: 70%;
  padding: 1%;
  height: 100%;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: #97979769 4px 0;
}

aside {
  display: inline-flex;
  width: 20%;
  padding: 0 1% 0 1%;
  flex-direction: column;
}

main {
  background-color: white;
  width: 90%;
  margin-inline: auto;
}

*.box {
  background: #0000a0;
  color: #dbffff;
  padding: 5px;
  margin: 0 0 5px 0;
  font-size: 90%;
  border-radius: 5px;
  box-shadow: #97979769 2px 2px;
  width: 100%;
}

*.box a {
  color: #ffffb0;
}

nav > ul {
  text-align: left;
  overflow: hidden;
  font-family: calibri, tahoma;
}

nav > ul li {
  border: 1px solid #d5d5d5;
  list-style-type: none;
  float: left;
  background: #98bed8;
  margin-left: 3px;
  border-radius: 5px;
}

nav > ul li:hover {
  border: 1px solid #d5d5d5;
  list-style-type: none;
  float: left;
  background: #f0f0f0;
  margin-left: 3px;
}

nav > ul li a {
  display: block;
  padding: 4pt;
  text-decoration: none;
}

nav > ul li li a {
  width: 160px;
}

nav > ul li li:hover {
  background: white;
}

nav > ul li ul {
  overflow: hidden;
  display: none;
}

nav > ul li:hover ul {
  position: absolute;
  background: #aaa;
  padding: 0;
  display: block;
  width: 177px;
}

@media screen and (max-width: 720px) {
  main, aside {
    display: block;
    width: 100%;
    margin: 0;
  }

  aside {
    padding: 0;
  }

  main {
    margin-bottom: 5px;
  }

  main, footer, *.box, header > h2 {
    box-shadow: none;
  }
}
