/* ustawienia dla całej tabeli: */
table {
    background-color: lightyellow;
    text-align: center;
    width: 94%;
    margin: 2%;
    border-collapse: collapse;
}

/*ustawienie tytułu tabeli:*/
caption {
    font-size: 120%;
    font-weight: bold;
}

/*formatowanie części nagłowkowej i stopki tabeli: */
thead, tfoot {
    background-color: darkblue;
    color: white;
    font-size: 110%;
    padding: 5pt;
}

/*formatowanie pojedynczych komórek zwykłych i nagłówkowych: */
td, th {
    border: 1pt solid lightblue;
}

/*formatowanie elementu <a> zawartego w elemencie <tfoot>: */
tfoot a {
    color: white;
}

tr:nth-child(odd) td {
    background-color: white;
}

tfoot > tr > td {
  background-color: navy !important;
}